.Dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;

    & .Main-Img {
        width: 100%;
        max-width: 150px;
    }
}